<h2>Cree el mejor servidor</h2>
<h2> de todos con este bot!</h2>

<p>Configure su servidor con moderacion, utilidad y economia!</p>

<a class="btn btn-primary" href="invite">Añadir a tu servidor</a> <a class="btn btn-secondary" href="#caracteristicas">Ver caracteristicas</a>